<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "../views/css/style.css" />
    <title>CSystemInfo - System Information Viewer</title>
  </head>
  
  <body>

      <div class="topnav">
          <a class="" href="../views/index.html">CPU</a>
          <a class="" href="../views/Memory.html">Memory</a>
          <a class="" href="../views/disk.html">Storage</a>
          <a class="" href="../views/process.html">Processes</a>
          <a class="active" style="float: right;" class="" href="../views/qr.html"><i class="fas fa-qrcode"></i></a>
        </div>
        
        <!-- Info box -->

        <br>
        <div style="text-align: center;">
          <img id="qr" style="text-align:center;" width="256px" height="256px">
          <script>
            var fs = require('fs');
            var files = fs.readdirSync('views/storage/');
            document.getElementById("qr").src = "storage/" + files[0];
          </script>
          <br><br>
          <h4 style="color:white;">Scan before connecting via the Mobile App</h4>
        </div>

        <!-- Author Watermark -->
    
        <footer id="myFooter">
          <div class="w3-container w3-theme-l1">
            <p>Created By Chris H</p>
          </div>
        </footer>
      </div>
      </body>
</html>
